* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0E0E0;
    color: #2E2E2E;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
